<div class = 'flex-container'>
  <%= form_with(model: @user, local: true, class: 'col-5 container form-container bg-info')  do |f|%>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %><br>
      <%= f.text_field :name, class: "form-control" %><br>
    </div>
    <%= f.submit "Submit" %>
  <% end %>
</div>
