<div class = 'background', style="background-image: url(<%= asset_path 'lifestyle.jpg' %>)";>
  <div class = 'container sign-up'>
    <div class = 'row justify-content-center'>
      <div class = 'col-10'>
        <%= render 'user_form' %>
      </div>
    </div>
  </div>
</div>
