<div class="jumbotron", style="background-image: url(<%=url_for(popular_article.image)%>)";>
  <h2 class="display-5 font-weight-bold"><%= popular_article.title %></h2>
  <p class="lead"><%= popular_article.body %></p>
</div>
