@import 'bootstrap/dist/css/bootstrap';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.nav-main {
  display:flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  list-style-type: none;
  padding: 20px 0 0 50px;
  white-space: nowrap;
}

.nav-main a {
  padding: 10px;
  color: #c0c0c0;
  font-weight: bolder;
  text-decoration: none;
}

.nav-main .active, a:active {
  color: #f36f21;
}

form select, form file {
  width: 100%;
  outline: none;
}

.jumbotron {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.background {
  background-image: url('article2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}