@import 'bootstrap/dist/css/bootstrap';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  list-style-type: none;
  padding: 20px 0 0 50px;
  white-space: nowrap;
}

.nav-main a {
  padding: 10px;
  color: #c0c0c0;
  font-weight: bolder;
  text-decoration: none;
}

.nav-main .dropdown {
  margin: 0 100px 0 150px;
}

.nav-main .active,
a:active {
  color: #f36f21;
}

form select,
form file {
  width: 100%;
}

.sign-up,
.log-in {
  height: 80vh;

}

@media screen and (max-width: 1024px) {
  .forms {
    margin-top: 300px;
    padding: 90px;
  }

  .sign-up,
  .log-in {
    height: 100vh;
    overflow-y: hidden;
  }

}

@media screen and (min-width: 1024px) {
  .forms {
    margin-top: 100px;
    padding: 90px;
  }
}

.jumbotron {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
  color: #fff;
}

.jumbotron h2 {
  color: #fa6000;
  padding-top: 200px;
}

.jumbotron p {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  font-size: 1.3rem;

}

.category-head {
  text-decoration: underline;
  text-decoration-color: #fefe00;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%
}

.background {
  background-image: url('lifestyle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}

.grid-container {
  display: grid;
  color: #444;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.box {
  color: #fff;
  padding: 20px;
  font-size: 150%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #C0C0C0;
}

.article-head {
  color: #f99b00;
  text-decoration: underline;
  text-decoration-color: #f99b00;
}

.article-body {
  height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: 200px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4e443e;
  color: #fff;
}

footer span {
  color: #fa6000;
}

.fab {
  background-color: #fa6000;
  color: #4e443e;
  padding: 5px;
  border-radius: 20px;
}